### This is Microtask-1 for the project: Reporting of CHAOSS Metrics.

In [1]:
from datetime import datetime, timedelta
from elasticsearch import Elasticsearch
from IPython.display import display
from dateutil.relativedelta import relativedelta
from calendar import monthrange, month_name
from collections import defaultdict, OrderedDict
import pandas as pd

es = Elasticsearch("localhost:9200")

# Name of the index we are analysing
index_name = "aima_python_git"

We will query the index that we created as shown in the Microtask-1.md  
We'd like to get **all** the commits (documents in the index) from the repository.

In [2]:
def get_all_commit_records(index=None, custom_source=False):
    "Queries the elasticsearch instance and returns all the documents in the index."
    
    temp_res = es.search(index=index, body={"query":{"match_all":{}}})
    size = temp_res["hits"]["total"]
    query = {
                "size":size, 
                "query":
                        {
                            "match_all":{}
                        }
    }
    # Use custom source so that the result is smaller in size
    if custom_source:
        query["_source"] = ["author_name", "committer_name", "commit_date", "is_git_commit", "lines_added", 
                            "lines_changed", "lines_removed", "utc_commit", "grimoire_creation_date"]
        
    res = es.search(index=index, body=query)
    return [res["hits"]["hits"][i]["_source"] for i in range(res["hits"]["total"])]

We store it in the *result* variable

In [3]:
result = get_all_commit_records(index_name, True)

#### This is what a document looks like

In [4]:
result[0]

{'author_name': 'spottedMetal',
 'commit_date': '2007-07-13T21:12:24',
 'committer_name': 'spottedMetal',
 'grimoire_creation_date': '2007-07-13T21:12:24+00:00',
 'is_git_commit': 1,
 'lines_added': 181,
 'lines_changed': 247,
 'lines_removed': 66,
 'utc_commit': '2007-07-13T21:12:24'}

#### Custom functions: 
To parse dates, get start and end dates of months and to divide commits according to the months in which they were made

In [5]:
def parse_date(date, custom_format=None):
    """Returns a datetime.datetime object from a string. 
    custom_format for the date can be given as input"""
    
    if custom_format:
        return datetime.strptime(date, custom_format)
    
    return datetime.strptime(date, "%Y-%m-%dT%H:%M:%S")

In [6]:
def get_end_date_of_month(date):
    "Given a date, return the end date of the month"
    return date + relativedelta(days = +(monthrange(date.year, date.month)[1] - date.day))

In [7]:
def get_start_date_of_month(date):
    "Given a date, return the start date of the month"
    return date - relativedelta(days = +date.day-1)

In [8]:
def get_bucket_name(date):
    "Given a date return the a string in the form of MonthYYYY"
    return month_name[date.month] + str(date.year)

In [9]:
def get_extreme_commits_dates(commit_list):
    "Given a list of commits, return the dates of the first and the last commits"
    
    fc_date = min(parse_date(item['commit_date']) for item in result)
    lc_date = max(parse_date(item['commit_date']) for item in result)
    return fc_date, lc_date

In [10]:
def make_buckets(first_date, last_date):
    """Given the project start date and the last commit date, return 
    containers for months in between those dates. Each container is a month 
    containing details about all the commits and committers for that month."""
    
    buckets = OrderedDict()
    
    month_start_date = get_start_date_of_month(first_date)
    month_end_date = get_end_date_of_month(first_date)
    bucket_name = get_bucket_name(first_date)
    
    while month_end_date <= last_date:
        commit = {}
        commit['new_committers'] = defaultdict(int)
        commit['old_committers'] = defaultdict(int)
        commit['commits'] = []
        buckets[bucket_name] = commit
        
        month_start_date = month_end_date + relativedelta(days=+1)
        month_end_date = get_end_date_of_month(month_start_date)
        bucket_name = get_bucket_name(month_start_date)
    
    commit = {}
    commit['new_committers'] = defaultdict(int)
    commit['old_committers'] = defaultdict(int)
    commit['commits'] = []
    buckets[bucket_name] = commit
    
    return buckets

#### Analysis:

Here we analyse the repository. We take in a list of the commits, starting from the very first. Then we create buckets of months and put all the commits of each month in that month's bucket.

Then we separate the commits as made by an `old_committer` or a `new_committer`.

In [11]:
def analyse_repository(commit_list):
    
    first_date, last_date = get_extreme_commits_dates(commit_list)
    
    months = make_buckets(first_date, last_date)
    
    for commit in commit_list:
        month = get_bucket_name(parse_date(commit['commit_date']))
        months[month]["commits"].append(commit)
        
    all_committers = []
    
    for name, month in months.items():
        for commit in month['commits']:
            committer = commit['author_name']
            if committer in all_committers:
                month['old_committers'][committer] += 1
            else:
                month['new_committers'][committer] += 1
        all_committers = list(set(all_committers + list(month['old_committers'].keys()) + 
                                  list(month['new_committers'].keys())))
        del month['commits']
                
    return months

In [12]:
Output = analyse_repository(result)

The number of new committers per month:

In [13]:
fmt = '{:<20}{}'

print(fmt.format('Month', 'No. of new committers'))

for month_name, month in Output.items():
    print(fmt.format(month_name, len(month["new_committers"])))

Month               No. of new committers
June2007            1
July2007            1
August2007          0
September2007       0
October2007         0
November2007        0
December2007        0
January2008         0
February2008        0
March2008           0
April2008           0
May2008             0
June2008            0
July2008            0
August2008          0
September2008       0
October2008         0
November2008        0
December2008        0
January2009         0
February2009        0
March2009           0
April2009           0
May2009             0
June2009            0
July2009            0
August2009          0
September2009       0
October2009         0
November2009        0
December2009        0
January2010         0
February2010        0
March2010           0
April2010           0
May2010             1
June2010            0
July2010            0
August2010          0
September2010       0
October2010         0
November2010        0
December2010        0
January2011         0
February2011        0
March2011           0
April2011           0
May2011             0
June2011            0
July2011            0
August2011          1
September2011       0
October2011         0
November2011        0
December2011        0
January2012         0
February2012        0
March2012           0
April2012           0
May2012             0
June2012            0
July2012            0
August2012          0
September2012       0
October2012         0
November2012        0
December2012        0
January2013         0
February2013        0
March2013           0
April2013           0
May2013             0
June2013            0
July2013            0
August2013          0
September2013       0
October2013         0
November2013        0
December2013        0
January2014         0
February2014        0
March2014           0
April2014           0
May2014             0
June2014            0
July2014            0
August2014          0
September2014       0
October2014         0
November2014        0
December2014        0
January2015         0
February2015        0
March2015           0
April2015           0
May2015             0
June2015            0
July2015            0
August2015          0
September2015       0
October2015         0
November2015        0
December2015        0
January2016         0
February2016        1
March2016           24
April2016           3
May2016             3
June2016            0
July2016            0
August2016          1
September2016       1
October2016         0
November2016        0
December2016        0
January2017         1
February2017        1
March2017           20
April2017           3
May2017             1
June2017            1
July2017            0
August2017          2
September2017       1
October2017         0
November2017        0
December2017        6
January2018         3
February2018        2

We convert the buckets in Output to a list of dictionaries. Each dictionary contains 3 elements: `month`, `Author of commit` and `Number of commits`. Then we use the `pandas` library to convert this list into a table.

In [14]:
def get_table_from_dict(commit_dict):
    table = []
    for month_name, month in commit_dict.items():
        ls = []
        for key, val in month['new_committers'].items():
            item = {}
            item['month'] = month_name
            item["Author of commit"] = key
            item['Number of commits'] = val
            ls.append(item)
        table = table + ls
    
    return pd.DataFrame(table)

In [15]:
table = get_table_from_dict(Output)

In [16]:
display(table)

             Author of commit  Number of commits          month
0                peter.norvig                  1       June2007
1                spottedMetal                 18       July2007
2                    srburnet                  1        May2010
3                      withal                 13     August2011
4                      norvig                  3   February2016
5                 greyshadows                  1      March2016
6               abhishek garg                  2      March2016
7                     utk1610                  1      March2016
8                     SnShine                 33      March2016
9                   Tamer Tas                  5      March2016
10              Nishant Suman                  2      March2016
11                     MircoT                 16      March2016
12                   jeff3456                  8      March2016
13                    Yu Ting                  3      March2016
14                Tarun Kumar                 18      March2016
15                     Chipe1                 25      March2016
16              Chirag Vartak                 36      March2016
17           Sidharth Sindhra                  8      March2016
18               Peter Norvig                 21      March2016
19          Toluwanimi Salako                  2      March2016
20                   Larry He                 12      March2016
21                 tolusalako                  5      March2016
22                    Varshit                  2      March2016
23             Stuart Russell                  1      March2016
24               chiragvartak                  1      March2016
25                   Mort Yao                  1      March2016
26       Surya Teja Cheedella                  1      March2016
27            Utkarsh Agrawal                  1      March2016
28                Lucas Moura                  2      March2016
29        Tarun Kumar Vangani                 10      April2016
..                        ...                ...            ...
48          Chinmaya Pancholi                  1      March2017
49               Aditya Harsh                  1      March2017
50              Angira Sharma                  2      March2017
51       Jacob Kalakal Joseph                  1      March2017
52          Sampad Kumar Saha                  2      March2017
53                   Zulfikar                  1      March2017
54                    VladKha                  1      March2017
55               Vidur Satija                  1      March2017
56           Pranjal Bhansali                  1      March2017
57                    sofmonk                  1      March2017
58           Edward Gonsalves                  1      March2017
59                Luke Schoen                  3      April2017
60              Azizur Rahman                  1      April2017
61           Christopher Chen                  1      April2017
62                      Allen                  1        May2017
63            Anthony Marakis                 11       June2017
64                 Luis Martí                  1     August2017
65         Vishnu Dutt Sharma                  1     August2017
66            Aareon Sullivan                  1  September2017
67                   Nick Lee                  1   December2017
68                Apurv Bajaj                  2   December2017
69             Justin Russell                  1   December2017
70  Jonathan Guillotte-Blouin                  1   December2017
71                surya saini                  2   December2017
72             Pranjal Aswani                  1   December2017
73                    Rishav1                  1    January2018
74          AdityaDaflapurkar                  2    January2018
75                Sagar Gupta                  2    January2018
76            Aman Deep Singh                  6   February2018
77                Vinay Varma                  3   February2018

[78 rows x 3 columns]

`get_table_from_dict` gives us the required table fot new committers each month and the number of commits that they do.  
Now we'll just use the `pandas.to_csv` function to put this table in a csv file

In [17]:
table.to_csv(index_name + ".csv", index=False)